{% if cart.item_count > 0 %}
<form id="cart-wrapper" action="/cart" method="post">
      <span class="info-text">DEINE BESTELLUNG</span>
     {% for item in cart.items %}
              <div class="item">
                {% unless item.product.options contains 'Title' %}
                  <!--Variations-->
                <ul style="text-transform:uppercase;">
                  <li>{{ item.quantity }} x {{ item.product.type }}</li>
                  {% for option in item.options_with_values %}
                    {% if option.value != 'Default Title' %}
                      <li>{{ option.name }}: {{ option.value }}</li>
                    {% endif %}
                  {% endfor %}

                  {% for prop in item.properties %}
                    {% assign firstChar = prop[0] | slice: 0 %}

                    {% unless prop[1] == blank or firstChar == '_' %}
                      <li>{{ prop[0] }}: {{ prop[1] }}</li>
                    {% endunless %}
                  {% endfor %}
                </ul>

     {% endunless %}
    
  </div>
  {% endfor %}
    <div class="total">

      <div class="info-text" >SUBTOTAL</div>
      <div class="pri">{{ cart.total_price | money }}</div>
    </div>
      <input id="update-cart" type="submit" name="update" value="Update cart" style="display: none" />

    <div>
      <button id="checkout" type="submit" name="checkout">
            JETZT BESTELLEN
     </button>
    </div>
    <div class="clear">
      <a href="/cart/clear">
             WARENKORB LEEREN
       </a></div>
     <p class="cart-attribute__field">

   </p>
</form>

{% else %}
<div class="main">
  <!--Empty Bag-->
  <div class="empty">
    DER WARENKORB IST AKTUELL LEER
  </div>
</div>
{% endif %}
