<style>
.gallery {
    margin-top: 10px;
    padding: 0;
    grid-gap: 10px;
    display: grid;

}
@media (max-width: 1200px) {


  .project_info {
    width:100%;
}
.product_info {
  position: sticky;
  top: 10px;
    width: 400px;
    top: 10px;
    right: 10px;
}

}
</style>
<div class="grid_info">
<div class="title">
  <div>{{ product.title }}</div>
</div>
<div class="information">
    <div class="project_info">
      <span> {{ product.content | replace: '_16x16', '' | replace: '_32x32', '' | replace: '_50x50', '' | replace: '_100x100', '' | replace: '_160x160', '' | replace: '_240x240', '' | replace: '_480x480', '' | replace: '_600x600', '' | replace: '_1024x1024', '' }}</span>
    </div>
</div>
    <div class="product_info">
          <div class="baggie" id="cart"{% if template == 'cart' %}class="active" {% endif %} class="c"> <a href="/cart">Warenkorb<span class="cart-total">

                {%- if cart.item_count == 0 -%}
              	0
                {%- else -%}

                {{- cart.item_count -}}

                {%- endif -%}

              </span></a></div>
      <div class="besttelen open">BESTELLEN <span>+</span></div>
      <div class="sealsubs-target-element" data-product="{{ product | json | escape }}" data-handle="{{ product.handle }}"></div>
    </div>

    <div class="gallery">
             {% for media in product.media %}
          <div class="slide">
                  {% case media.media_type %}
                      {% when 'video' %}
                      {{ media | video_tag:loop: true, autoplay: true, muted:true}}
                  {% endcase %}
                  {% case media.media_type %}
                      {% when 'image' %}
                      <img class="lazy" src="{{ media | product_img_url: 'thumb' }}" data-src="{{ media | product_img_url: 'master' }}" alt="{{ media.alt }}"/>
                  {% endcase %}
           </div>
              {% endfor %}
              {% for media in product.media %}
              {% endfor %}
    </div>
</div>

